body, html {
  height: 100%;
  margin: 0;
  color: #777;
}

.caption {
  text-align: center;
  font-size: 2em;
  letter-spacing: 5px;
}

.parallax1, .parallax2{

  opacity: 0.65;
  /* make the images relative */
  position: relative;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax1 {
   /* The image used */
   background-image: url('images/InstaStreet.png');
   min-height: 100%;
}

.parallax2 {
  /* The image used */
  background-image: url('images/peps.png');
  min-height: 500px;
}

.scrolling-text{
  height:1000px;
  background-color:rgb(0, 139, 139);
  position: bottom;
  font-size:36px;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}